<h1>Listing nodes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Type</th>
    <th>Parent</th>
    <th>Rank</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @objects.each do |obj| %>
  <tr>
    <td><%= link_to(obj.id, obj) %></td>
    <td><%= obj.type_id %></td>
    <td><%= obj.parent_id %></td>
    <td><%= obj.rank %></td>
    <td><%= obj.content %></td>
    <td><%= link_to 'Show', obj %></td>
    <td><%= link_to 'Edit', edit_node_path(obj) %></td>
    <td><%= link_to 'Destroy', obj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Node', new_node_path %>
