<% max_content_snippet_length = 50 %>

<p id="notice"><%= notice %></p>
<h1 class="show-node-heading"><%= (@obj.snip_content) %></h1>

  <p>
    <b>Id:</b>
    <%= @obj.id %>
  </p>

  <p class="show-node-content">
  <b>Content:</b>
  <%= @obj.content %>
</p>

<p>
  <b>created_at:</b>
  <%= @obj.created_at %>
</p>

<p>
  <b>updated_at:</b>
  <%= @obj.updated_at %>
</p>

<p>
  <b>Type:</b>
  <%= @obj.type_id %>
</p>

<p>
  <b>Rank:</b>
  <%= @obj.rank %>
</p>


<p>
  <b>Parents:</b>
  <% if @obj.parent_id && !@obj.parent%>
    <span style="color:red">[missing parent with id <%= @obj.parent_id %>]</span>
  <% else %>
    <% node = @obj.parent %>
    <% sep = ' ' %>
    <% while node do %>
      <%= sep %>
      <%= link_to(node.snip_content, node) %>
      <% node = node.parent %>
      <% sep = '<' %>
    <% end %>
  <% end %>
</p>

<p>
  <b>Predecessor:</b>
  <% if @obj.predecessor_id && !@obj.predecessor%>
    <span style="color:red">[missing predecessor with id <%= @obj.predecessor_id %>]</span>
  <% elsif @obj.predecessor %>
    <%= link_to(@obj.predecessor.snip_content, @obj.predecessor) %>
  <% end %>
</p>

<p>
  <b>Successor:</b>
  <% if @obj.successor_id && !@obj.successor%>
    <span style="color:red">[missing successor with id <%= @obj.successor_id %>]</span>
  <% elsif @obj.successor %>
    <%= link_to(@obj.successor.snip_content, @obj.successor) %>
  <% end %>
</p>


<p>
<%= render partial: 'children', locals: {obj: @obj} %>
</p>



<%= link_to 'Edit', edit_node_path(@obj) %> |
<%= link_to 'Index', nodes_path %> |
<%= link_to 'Repair Children', repair_children_node_path(@obj), method: :put %>
