<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @obj.type_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @obj.parent_id %>
</p>

<p>
  <b>Rank:</b>
  <%= @obj.rank %>
</p>

<p>
  <b>Content:</b>
  <%= @obj.content %>
</p>


<%= link_to 'Edit', edit_node_path(@obj) %> |
<%= link_to 'Back', nodes_path %>
