<p id="notice"><%= notice %></p>


<p>
  <b>Content:</b>
  <%= @obj.content %>
</p>

<p>
  <b>Id:</b>
  <%= @obj.id %>
</p>

<p>
  <b>created_at:</b>
  <%= @obj.created_at %>
</p>

<p>
  <b>updated_at:</b>
  <%= @obj.updated_at %>
</p>

<p>
  <b>Type:</b>
  <%= @obj.type_id %>
</p>

<p>
  <b>Rank:</b>
  <%= @obj.rank %>
</p>


<p>
  <b>Parent:</b>
  <%= link_to(@obj.parent.content, @obj.parent) if @obj.parent %>
</p>

<p>
  <b>Predecessor:</b>
  <%= link_to(@obj.predecessor.content, @obj.predecessor) if @obj.predecessor %>
</p>

<p>
  <b>Successor:</b>
  <%= link_to(@obj.successor.content, @obj.successor) if @obj.successor %>
</p>


<p>
  <b>Children:</b>
  <ul>
    <% @obj.children.order(:rank).each do |child| %>
    <li><%= link_to(child.content, child) if child %></li>
    <% end %>
  </ul>
</p>



<%= link_to 'Edit', edit_node_path(@obj) %> |
<%= link_to 'Index', nodes_path %>
