<% max_content_snippet_length = 50 %>

<%= link_to 'Index', nodes_path %> |
<%= link_to 'Edit', edit_node_path(@obj) %> |
<%= link_to 'Add Child', add_child_node_path(@obj), method: :post %> |
<%= link_to 'Add Successor', add_successor_node_path(@obj), method: :post %> |
<%= link_to 'Add Predecessor', add_predecessor_node_path(@obj), method: :post %> |
<%= link_to 'Put In Basket', put_in_basket_node_path(@obj), method: :put %> |
<%= link_to 'Paste Child', paste_child_node_path(@obj), method: :put %> |
<%= link_to 'Paste Successor', paste_successor_node_path(@obj), method: :put %> |
<%= link_to 'Paste Predecessor', paste_predecessor_node_path(@obj), method: :put %> |
<%= link_to 'Repair Children', repair_children_node_path(@obj), method: :put %>

<p>
  <% if @obj.parent_id && !@obj.parent%>
    <span style="color:red">[missing parent with id <%= @obj.parent_id %>]</span>
  <% else %>
    <% node = @obj %>
    <% sep = ' ' %>
    <% while node do %>
      <%= sep %>
      <%= link_to(node.snip_content, node) %>
      <% node = node.parent %>
      <% sep = '<' %>
    <% end %>
  <% end %>
</p>

<p id="notice"><%= notice %></p>


<p class="show-node-content">
  <b><%= @obj.content %></b>
</p>


<p>
  <%= render partial: 'children', locals: {obj: @obj} %>
</p>



<p>
  <b>Id:</b>
  <%= @obj.id %>
</p>


<p>
  <b>created_at:</b>
  <%= @obj.created_at %>
</p>

<p>
  <b>updated_at:</b>
  <%= @obj.updated_at %>
</p>

<p>
  <b>Type:</b>
  <%= @obj.type_id %>
</p>

<p>
  <b>Rank:</b>
  <%= @obj.rank %>
</p>








