<% max_content_snippet_length = 50 %>

<p id="notice"><%= notice %></p>
<h1 class="show-node-heading"><%= (@obj.snip_content) %></h1>

  <p>
    <b>Id:</b>
    <%= @obj.id %>
  </p>

  <p class="show-node-content">
  <b>Content:</b>
  <%= @obj.content %>
</p>

<p>
  <b>created_at:</b>
  <%= @obj.created_at %>
</p>

<p>
  <b>updated_at:</b>
  <%= @obj.updated_at %>
</p>

<p>
  <b>Type:</b>
  <%= @obj.type_id %>
</p>

<p>
  <b>Rank:</b>
  <%= @obj.rank %>
</p>


<p>
  <b>Parent:</b>
  <%= link_to(@obj.parent.snip_content, @obj.parent) if @obj.parent %>
  </span>
</p>

<p>
  <b>Predecessor:</b>
  <%= link_to(@obj.predecessor.snip_content, @obj.predecessor) if @obj.predecessor %>
</p>

<p>
  <b>Successor:</b>
  <%= link_to(@obj.successor.snip_content, @obj.successor) if @obj.successor %>
</p>


<p>
<%= render partial: 'children', locals: {obj: @obj} %>
</p>



<%= link_to 'Edit', edit_node_path(@obj) %> |
<%= link_to 'Index', nodes_path %>
