<h1>Active Record</h1>
<div class="rule"></div>
<h2>Overview</h2>
<p>
  <%= link_to 'ActiveRecord', 'http://guides.rubyonrails.org/active_record_basics.html', target: '_blank'%> is the way that Rails connects the database to server-side objects. This functionality is
  generally known as ORM: object-relational mapping.

  <p>If there is a table in the db named <em>users</em>, with columns <em>name</em>, and <em>address</em>, then ActiveRecord allows you
  to define a class called <em>User</em>, whose parent-class is <em>ActiveRecord::Base</em>, and
  whose instances will automatically (without your having to say so)
  have accessors called <code>name()</code> and <code>address()</code>, allowing
  you to get and set these field values. Such an instance will also have a save() method, allowing any
  in-memory changes to be written back to the db.</p>

  <p>For most applications, it is useful to put checks in before a record is actually saved to the db.
  For example, it wouldn't make sense to save a record to the users table with a NULL name.
  ActiveRecord has a component called <%= link_to 'validations', 'http://guides.rubyonrails.org/active_record_validations.html', target: '_blank'%>,  that takes care of making sure the data is sane
  before actually saving a record to the db.</p>

  <p>ActiveRecord also allows you to <%= link_to 'query', 'http://guides.rubyonrails.org/active_record_querying.html', target: '_blank'%> the database to retrieve records from it in the form
  of ActiveRecord instances. For example, the expression User.all() would retrieve all
  users from the users table.</p>
<%= render 'behavior_of_saving_with_associations' %>

<% content_for :side_nav do %>
<ul>
  <li class='side-nav'>
    <%= link_to 'Basics',
                'http://guides.rubyonrails.org/active_record_basics.html',
                class:'side-nav',
                 target: '_blank'
    %>
  </li>
  <li class='side-nav'>
    <%= link_to 'Associations',
                'http://edgeguides.rubyonrails.org/association_basics.html',
                class:'side-nav',
                target: '_blank'%>
  </li>
  <li class='side-nav'>
    <%= link_to 'Validations',
                'http://guides.rubyonrails.org/active_record_validations.html',
                class:'side-nav',
                target: '_blank'
    %>
  </li>
  <li class='side-nav'>
    <%= link_to 'Callbacks',
                'http://guides.rubyonrails.org/active_record_callbacks.html',
                class:'side-nav',
                target: '_blank'
    %>
  </li>
  <li class='side-nav'>
    <%= link_to 'Migrations',
                'rails_migrations',
                class:'side-nav'
    %>
  </li>
  <li class='side-nav'>
    <%= link_to 'Query Interface',
                'http://guides.rubyonrails.org/active_record_querying.html',
                class:'side-nav',
                target: '_blank'
    %>
  </li>
  <li class='side-nav'>
    <%= link_to 'Nested Attributes',
                'http://api.rubyonrails.org/classes/ActiveRecord/NestedAttributes/ClassMethods.html',
                class:'side-nav',
                target: '_blank'%>
  </li>
</ul>
<% end %>