<% content_for :side_nav do %>
<ul>
  <li>
    <%= link_to 'Interactive',
                interactive_nodes_path,
                class:'side-nav'
    %>
  </li>
  <li>
    <%= link_to 'Text Tree',
                text_tree_path,
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Software Development',
                'page/software_development/',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Managing A Software Team',
               'page/managing_a_software_team',
               class:'side-nav'
    %>
  </li>

  <li class="side-nav">
    <%= link_to 'Job Search',
                'page/job_search',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Domestic',
                'page/domestic',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Code Tools',
                'page/code_tools',
                class:'side-nav'
    %>
  </li>
</ul>
<% end %>

<h1>Home</h1>
<div class="rule"></div>
<h2>Overview</h2>
<p>
  This site contains some notes of mine.
</p>
