<h1>Rails</h1>
<ul>
  <li><%= link_to 'General Guides', 'rails_guides'%></li>
  <li><%= link_to 'ActiveRecord', 'active_record'%></li>
  <li><%= link_to 'RVM', 'rvm'%></li>
  <li><%= link_to 'Infrastructure', 'rails_infrastructure'%></li>
  <li><%= link_to 'Debugging', 'rails_debugging'%></li>
  <li><%= link_to 'Rails Database', 'rails_database'%></li>
  <li><%= link_to 'Rails Command Line', 'rails_command_line'%></li>
  <li><%= link_to 'Upload a file to server', 'http://guides.rubyonrails.org/form_helpers.html#what-gets-uploaded', target: '_blank'%></li>
  <li><%= link_to 'Migrations', 'rails_migrations'%></li>
</ul>
