<h1>Ruby</h1>
<ul>
  <li><%= link_to 'RVM', 'rvm'%></li>
  <li><%= link_to 'api.rubyonrails.org', 'http://api.rubyonrails.org/',  target: '_blank'%></li>
  <li><%= link_to 'ruby-doc.org', 'http://ruby-doc.org/',  target: '_blank'%></li>
  <li><%= link_to 'ruby-lang.org', 'https://www.ruby-lang.org/en/',  target: '_blank'%></li>
  <li><%= link_to 'Ruby Toolbox (gems etc)', 'https://www.ruby-toolbox.com/',  target: '_blank'%></li>
  <li><%= link_to 'Database Connection In Ruby', 'database_connection_in_ruby'%></li>
  <li><%= link_to 'XML API In Ruby', 'http://www.tutorialspoint.com/ruby/ruby_xml_xslt.htm', target: '_blank'%></li>
</ul>
