<h1>Software Development</h1>
<ul>
  <li><%= link_to 'Ruby', 'ruby'%></li>
  <li><%= link_to 'Mac OS', 'mac_os'%></li>
  <li><%= link_to 'Software Installation', 'software_installation'%></li>
  <li><%= link_to 'Database', 'database'%></li>
  <li><%= link_to 'Web Development', 'web_development'%></li>
  <li><%= link_to 'Emacs', 'emacs'%></li>
  <li><%= link_to 'Character Encoding', 'character_encoding'%></li>
  <li>
    <%=
        link_to 'The Craft Of Coding', 'http://tutsplus.com/', target: '_blank'
    %>
  </li>
  <li>
    <%=
        link_to 'Programmer Question Site', 'http://programmers.stackexchange.com/tour', target: '_blank'
    %>
  </li>
</ul>
