<h1>Software Development</h1>
<ul>
  <li><%= link_to 'Rails', 'rails'%></li>
  <li><%= link_to 'Ruby', 'ruby'%></li>
  <li><%= link_to 'Mac OS', 'mac_os'%></li>
  <li><%= link_to 'Software Installation', 'software_installation'%></li>
  <li><%= link_to 'Database', 'database'%></li>
  <li><%= link_to 'Web Development', 'web_development'%></li>
  <li><%= link_to 'Emacs', 'emacs'%></li>
  <li><%= link_to 'Character Encoding', 'character_encoding'%></li>
</ul>
