<h1>Software Development</h1>
<div class="rule"></div>
<h2>Overview</h2>
<p>
  This area contains information about software development.
</p>

<% content_for :side_nav do %>
<ul>
  <li class="side-nav">
    <%=
        link_to 'Ruby',
                'ruby',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Mac OS',
                'mac_os',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Software Installation',
                'software_installation',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Database',
                'database',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Web Development',
                'web_development',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Emacs', 'emacs',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%= link_to 'Character Encoding', 'character_encoding',
                class:'side-nav'
    %>
  </li>
  <li class="side-nav">
    <%=
        link_to 'The Craft Of Coding',
                'http://tutsplus.com/',
                class:'side-nav',
                target: '_blank'
    %>
  </li>
  <li class="side-nav">
    <%=
        link_to 'Programmer Question Site',
                'http://programmers.stackexchange.com/tour',
                class:'side-nav',
                target: '_blank'
    %>
  </li>
</ul>

<% end %>

