<li>Rails</li>
<ul>
  <li>Core Guides</li>
  <ul>
    <li>Models</li>
    <ul>
      <li><%= link_to 'ActiveRecord', 'active_record'%></li>
      <li>
        <%= link_to 'Basics',
                    'http://guides.rubyonrails.org/active_record_basics.html',
                    target: '_blank'
        %>
      </li>
      <li>
        <%= link_to 'Associations',
                    'http://edgeguides.rubyonrails.org/association_basics.html',
                    target: '_blank'%>
      </li>
      <li>
        <%= link_to 'Validations',
                    'http://guides.rubyonrails.org/active_record_validations.html',
                    target: '_blank'
        %>
        <ul>
          <li>
            <%=
                link_to 'Custom Validators',
                        'http://www.rails-dev.com/custom-validators-in-ruby-on-rails-4',
                        target: '_blank'
            %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to 'Callbacks',
                    'http://guides.rubyonrails.org/active_record_callbacks.html',
                    target: '_blank'
        %>
      </li>
      <li>
        <%= link_to 'Migrations',
                    'rails_migrations'
        %>
      </li>
      <li>
        <%= link_to 'Query Interface',
                    'http://guides.rubyonrails.org/active_record_querying.html',
                    target: '_blank'
        %>
      </li>
      <li>
        <%= link_to 'Nested Attributes',
                    'http://api.rubyonrails.org/classes/ActiveRecord/NestedAttributes/ClassMethods.html',
                    target: '_blank'%>
      </li>
    </ul>

    <li>Views</li>
    <ul>
      <li>Layouts</li>
      <ul>
        <li>
          <%=
              link_to 'Bootstrap 2.3.2',
                      'http://getbootstrap.com/2.3.2/index.html',
                      target: '_blank'
          %>
        </li>
        <li>
          <%=
              link_to 'Layouts and Rendering',
                      'http://guides.rubyonrails.org/layouts_and_rendering.html',
                      target: '_blank'
          %>
        </li>
      </ul>
      <li>
        <%=
            link_to 'ActionView',
                    'http://guides.rubyonrails.org/action_view_overview.html',
                    target: '_blank'
        %>
      </li>

      <li>Helpers</li>
      <ul>
        <%=
            link_to 'link_to',
                    'http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to',
                    target: '_blank'
        %>

      </ul>

    </ul>

    <li>Controllers</li>
    <ul>
      <li>
        <%=
            link_to 'ActionController',
                    'http://guides.rubyonrails.org/action_controller_overview.html',
                    target: '_blank'
        %>
      </li>

      <li>
        <%=
            link_to 'Routing',
                    'http://guides.rubyonrails.org/routing.html  ',
                    target: '_blank'
        %>
      </li>
    </ul>
  </ul>
  <li><%= link_to 'Rails Magic', 'rails_magic'%></li>
  <li><%= link_to 'General Guides', 'rails_guides'%></li>
  <li><%= link_to 'api.rubyonrails.org', 'http://api.rubyonrails.org/',  target: '_blank'%></li>
  <li><%= link_to 'RVM', 'rvm'%></li>
  <li><%= link_to 'Infrastructure', 'rails_infrastructure'%></li>
  <li><%= link_to 'Debugging', 'rails_debugging'%></li>
  <li><%= link_to 'Rails Database', 'rails_database'%></li>
  <li><%= link_to 'Rails Command Line', 'rails_command_line'%></li>
  <li><%= link_to 'Upload a file to server', 'http://guides.rubyonrails.org/form_helpers.html#what-gets-uploaded', target: '_blank'%></li>
  <li><%= link_to 'Migrations', 'rails_migrations'%></li>
  <li>
    <%=
        link_to 'Rails-Dev',
                'http://www.rails-dev.com/',
                target: '_blank'
    %>
  </li>
  <li>
    <%=
        link_to 'Security',
                'rails_security'
    %>
  </li>

</ul>

