<h1>Rails</h1>
<div class='ruler'></div>
<ul>
  <li><%= link_to 'Rails Magic', 'rails_magic'%></li>
  <li><%= link_to 'General Guides', 'rails_guides'%></li>
  <li>
    <%=
        link_to 'ActionController',
                'http://guides.rubyonrails.org/action_controller_overview.html',
                target: '_blank'
    %>
  </li>
  <li>
    <%=
        link_to 'ActionView',
                'http://guides.rubyonrails.org/action_view_overview.html',
                target: '_blank'
    %>
  </li>

  <li><%= link_to 'api.rubyonrails.org', 'http://api.rubyonrails.org/',  target: '_blank'%></li>
  <li><%= link_to 'ActiveRecord', 'active_record'%></li>
  <li><%= link_to 'RVM', 'rvm'%></li>
  <li><%= link_to 'Infrastructure', 'rails_infrastructure'%></li>
  <li><%= link_to 'Debugging', 'rails_debugging'%></li>
  <li><%= link_to 'Rails Database', 'rails_database'%></li>
  <li><%= link_to 'Rails Command Line', 'rails_command_line'%></li>
  <li><%= link_to 'Upload a file to server', 'http://guides.rubyonrails.org/form_helpers.html#what-gets-uploaded', target: '_blank'%></li>
  <li><%= link_to 'Migrations', 'rails_migrations'%></li>
  <li>
    <%=
        link_to 'Rails-Dev',
                'http://www.rails-dev.com/',
                target: '_blank'
    %>
  </li>
  <li>
    <%=
        link_to 'Security',
                'rails_security'
    %>
  </li>
  <li>
    <%=
        link_to 'Custom Validators',
                'http://www.rails-dev.com/custom-validators-in-ruby-on-rails-4',
                target: '_blank'
    %>
  </li>
</ul>

