<!DOCTYPE html>
<html>
<head>
  <title>JssNotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/app_header' %>
  <div class="container">
    <%= render 'shared/flash_messages' %>
    <div class="row">
      <div class = "span9 main">
        <%= yield %>
      </div>
      <div class = "span3 side-nav">
        <div id="side-nav">
          <%= yield :side_nav %>
        </div>
        <div id="right-rail"></div>
    </div>
  </div>
  <%= render partial: 'layouts/right_rail_template'%>
</body>
</html>
