<!DOCTYPE html>
<html>
<head>
  <title>Information Tree</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag   "https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.js" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/app_header' %>
<%= yield %>
<%= render partial: 'layouts/app_footer' %>
</body>
</html>
