<!DOCTYPE html>
<html>
<head>
  <title>JssNotes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag   "http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.11.4/jquery-ui.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'layouts/app_header' %>
  <div id="container" class="container">
    <%= render 'shared/flash_messages' %>
    <div class="row">
      <div class = "span12 main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
